<header>
    <div class="header-main-content">
        <div class="header-main-content-left">
            <button class="btn-hover btn-std">
                <img src="./../../assets/images/button/back.png">
            </button>
            <h1>Freitag</h1>
            <button class="btn-hover btn-std">
                <img src="./../../assets/images/button/forward.png">
            </button>
        </div>
        <div class="header-main-content-right">
            <input class="ipt-std" type="date" id="calendar-input" name="date">
        </div>
    </div>
</header>
