body {
    margin: 0;
    overflow: hidden;
}

.btn-hover {

    &:hover {
        cursor: pointer;
    }
}

.btn-std {
    border: none;
    background-color: transparent;
}

.ipt-std {
    border: none;
    &:focus {
        outline: none;
    }
}
